@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="calendar"></div>


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function() {
            var items = [];
            $.ajax({
                type: "GET",
                url: "/MealPlans/GetItems",
                success: function (data) {
                    $.each(data, function (i, v) {
                        items.push({
                            title: v.MealType.MealTypeName + ":" + v.ItemName,
                            start: moment(v.MealDate).format("MM/DD/YYYY"),
                            color: v.ThemeColor
                        });
                    })

                    GenerateCalendar(items);
                },
                error: function (error) {

                    alert('failed to get data');
                }
            })

            function GenerateCalendar(items) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeformat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,menu'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: items,
                    displayEventTime: false
                })
            }
        })
    </script>
}

