@{
    ViewBag.Title = "Home Page";
}

    <img src="~/Content/Images/foodspices.jpg" style="height:20%; width:100%" />

<div class="jumbotron">
    <h1>RecipeTastic</h1>
    <p class="lead">Search Recipes by Ingredients, Plan meals, Add recipes, and save it in the Recipebook.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>@Html.ActionLink("Recipe Search By Cuisine", "Index", "Cuisines")</h3>
        <p>Search Recipes by Cuisine.</p>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Recipe Search By Ingredients", "Index", "Recipes")</h3>
        <p>Search Recipes by ingredients.</p>
    </div>
</div>
